{% extends 'index.html' %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <div class="hero-badge">Promosss</div>
        <h1 class="hero-title">
            Tu egreso,<br>
            <span>tu estilo.</span>
        </h1>
        <p class="hero-desc">
            Diseñamos la campera de tus blablabla.
        </p>
        <div class="hero-actions">
            <a href="#catalogo" class="btn btn-black">Ver catálogo</a>
            <a href="#cuotas" class="btn btn-outline">Hasta 6 cuotas sin interés</a>
        </div>
    </div>
    <div class="hero-image">
        <div class="hero-image-bg"></div>

    <!--imagen que esta en el hero-->


        <div class="hero-badge-float">
            <div class="number">+500</div>
            <div class="label">Colegios confían</div>
        </div>
    </div>
</section>

{% endblock %}