{% extends 'index.html' %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <div class="hero-badge">Promosss</div>
        <h1 class="hero-title">
            Tu egreso,<br>
            <span>tu estilo.</span>
        </h1>
        <p class="hero-desc">
            Diseñamos la campera de tus blablabla.
        </p>
        <div class="hero-actions">
            <a href="#catalogo" class="btn btn-black">Ver catálogo</a>
            <a href="#cuotas" class="btn btn-outline">Hasta 6 cuotas sin interés</a>
        </div>
    </div>
    <div class="hero-image">
        <div class="hero-image-bg"></div>

    <!--imagen que esta en el hero-->


        <div class="hero-badge-float">
            <div class="number">+500</div>
            <div class="label">Colegios confían</div>
        </div>
    </div>
</section>

<section class="contact-design">

    <!-- LEFT -->
    <div class="contact-left">

        <h2 class="contact-title">
            HABLEMOS DE TU DISEÑO
        </h2>

        <p class="contact-subtitle">
            ¿Querés un presupuesto personalizado para tu división?
            Completá el formulario o escribinos por nuestros canales oficiales.
        </p>

        <form class="contact-form"
            enctype="multipart/form-data"
            method="POST"
            action="{% url 'enviar_solicitud' %}">

            {% csrf_token %}

            <input type="text" placeholder="Provincia" name="provincia">

            <input type="text" placeholder="Localidad" name="localidad">

            <input type="text" placeholder="Nombre y numero de Colegio" name="colegio">

            <input type="text" placeholder="Nombre contacto" name="nombre_contacto">

            <input type="text" placeholder="Email" name="email">

            <input type="text" placeholder="Cantidad total estimada" name="cantidad_estimada">


            <select>
                <option>Producto elegido</option>
                <option>Campera Egresados</option>
                <option>Pack Varsity</option>
            </select>

            <textarea
                placeholder="Contanos qué están buscando (colores, bordados, cantidad)..." name="mensaje">
            </textarea>

            <!-- UPLOAD -->
      <!--      <div class="upload-box">

                <p>
                    Arrastrá aquí si tienen pensado un diseño
                </p>

                <span>o</span>

                <button type="button" class="btn-upload">
                    Seleccione
                </button>

            </div>  -->

            <div class="upload-box" id="drop-zone">

                <input
                    type="file"
                    id="diseno"
                    name="diseno"
                    hidden
                    accept=".jpg,.jpeg,.png,.pdf,.ai,.psd"
                >

                <p id="file-text">
                    Arrastrá aquí tu diseño
                </p>

                <span id="upload-separator">o</span>

                <button
                    id="upload-button"
                    type="button"
                    class="btn-upload"
                    onclick="document.getElementById('diseno').click()">
                    Seleccione
                </button>

                

            </div>

            <button type="submit" class="btn-submit">
                ENVIAR CONSULTA
            </button>

        </form>

    </div>

    <!-- RIGHT -->
    <div class="contact-right">

        <div class="info-card">

            <div class="info-icon">
                💬
            </div>

            <div>
                <span>WHATSAPP VENTAS</span>
                <h3>+54 11 1234-5678</h3>
            </div>

        </div>

        <div class="info-card">

            <div class="info-icon">
                📸
            </div>

            <div>
                <span>INSTAGRAM</span>
                <h3>@def_egresados</h3>
            </div>

        </div>

        <div class="info-card">

            <div class="info-icon">
                📍
            </div>

            <div>
                <span>SHOWROOM CENTRAL</span>
                <h3>Av. Rivadavia 4500, CABA</h3>
            </div>

        </div>

    </div>

</section>



<script>

const dropZone = document.getElementById("drop-zone");
const fileInput = document.getElementById("diseno");
const fileText = document.getElementById("file-text");

const separator = document.getElementById("upload-separator");
const uploadButton = document.getElementById("upload-button");

function mostrarArchivoSeleccionado(nombreArchivo){

    fileText.innerHTML = `
        ✅ Archivo seleccionado<br>
        <strong>${nombreArchivo}</strong>
    `;

    separator.style.display = "none";
    uploadButton.style.display = "none";

    dropZone.classList.add("file-selected");
}

dropZone.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropZone.classList.add("dragover");
});

dropZone.addEventListener("dragleave", () => {
    dropZone.classList.remove("dragover");
});

dropZone.addEventListener("drop", (e) => {
    console.log("Archivo soltado");
    e.preventDefault();

    dropZone.classList.remove("dragover");

    if (e.dataTransfer.files.length > 0) {

        fileInput.files = e.dataTransfer.files;

        //fileText.textContent =
        //    e.dataTransfer.files[0].name;

        mostrarArchivoSeleccionado(
            e.dataTransfer.files[0].name
        );
    }
});

fileInput.addEventListener("change", () => {

    if(fileInput.files.length > 0){

        mostrarArchivoSeleccionado(
            fileInput.files[0].name
        );
    } 
});

</script>


{% endblock %}