{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Egresados{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/home.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<!--    nav-->
   <nav>
    <a href="#" class="nav-logo">
        <!--aqui logo-->
<!-- <img src="{% static '' %}" alt="logo">-->
    </a>

    <!--menu-->
    <ul class="nav-links">
        <li><a href="#" class="active">Inicio</a></li>
        <li><a href="#">Catálogo</a></li>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <div class="nav-actions">
      <a href="{% url 'dashboard' %}" class="btn btn-outline">Ingresar</a>
        <a href="#" class="btn btn-gold">Subir comprobante</a>
    </div>
</nav>

<!--resto del contenido de la app-->

    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}

<!--aca iria el footer-->
</body>
</html>